:root{					/*	MAKE CHANGES HERE! */
    --main-bg-color: #fff;					/*	BODY BACKGROUND COLOR */
	--main-text-color: #000;				/*	NORMAL TEXT COLOR */
	--main-hover-link: #000;				/*	TEXT COLOR ON HOVER */
	--transition-font-size: font-size 1s;	  /*	TRANSITION FOR FONT SIZE */
	--transition-max-width: max-width ease-in-out 1s;		/*	TRANSITION FOR WIDTH */
}
body{				/*	FOR ENTIRE BODY */
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Big';
    font-weight: bold;
	text-decoration: none;
	cursor: none;
}
.mainlogo {			/*	LOGO IN THE HEADER */
    max-width: 70vw;
    height: auto;
    display: block;
	margin: 0.5em auto;
	transition: var(--transition-max-width);
}
/*                 NAVIGATION           */
.nav {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2rem;
	pointer-events: none; 
}
.nav .menu {
	width: 100vw;
	height: 100vh; 
}
.nav .menu__item {
	position: absolute;
	pointer-events: all;
	display: inline-block;
	margin: 4.5vw; 
}
.nav .menu__item span {
	opacity: .64; 			/*	NORMAL STATE HERE! */
}
.nav .menu__item:hover span {
	opacity: 1; 
}
.nav .menu__item.active {
	cursor: default; 
}
.nav .menu__item.active span {
	opacity: 1; 
}
.nav .menu__item.active:hover span {			/*	ON HOVER STATE! */
	color: var(--main-hover-link);
	opacity: 1; 
}
.nav .menu__item--title {
	white-space: nowrap;
	padding: .2em; 
}
.nav .menu__item--home {
	top: .1em;
	left: -.2em; 
}
.nav .menu__item--home span {
	user-select: none; 
}
.nav .menu__item--photos {
	top: 0;
	right: -.4em ;
}
.nav .menu__item--photos>span { 		/*	PHOTOGRAPHY LINK */
	position: absolute;
	z-index: 999991;
	top: 4em;
	left: 0;
	transform-origin: left top;
	transform: rotate(90deg);
	font-size: 22px ;
	color: var(--main-text-color);
}
.nav .menu__item--designs {				/*	DESIGNS LINK */
	bottom: -.3em;
	right: -.2em;
	z-index: 999996;
	font-size: 22px;
	color: var(--main-text-color);
}
.nav .menu__item--about {
	bottom: 0;
	left: -.4em;
}
.nav .menu__item--about>span {			/*	ABOUT LINK */
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left top;
	transform: rotate(-90deg);
	z-index: 999993;
	font-size: 22px ;
	color: var(--main-text-color);
}


/*             NAVIGATION ENDS             */


.photography-content{		/*	MAIN CONTAINER FOR CONTENT ON PHOTOGRAPHY PAGE */
	display: grid;
	place-items: center;
	max-width: 80vw;
	height: auto;
	margin: 1em auto;
	transition: var(--transition-max-width);
}
img.rotatestamp{			/*	ROTATING STAMP ON TOP */
	margin-top: 18vh;
	max-width: 40vw;
	height: auto;
	animation: rotate 10s infinite;
}
@keyframes rotate{		/*	ANIMATING THE ROTATESTAMP */
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.projectlist{				/*	LIST OF PROJECTS    PHOTOGRAPHY PAGE	*/
	position: relative;
	display: grid;
	place-items: center;
	margin-top: 6rem;
	margin-bottom: 6rem;
	z-index: 999994;
}
.projectlist>a{			/*	EACH PROJECT ITEM   	PHOTOGRAPHY PAGE	*/
	padding: 5px;
    font-size: 2.2rem;
    color: var(--main-text-color);
    text-decoration: none;
	transition: var(--transition-font-size);
}
.projectlist>a:hover{		/*	EACH PROJECT ITEM ON HOVER  	PHOTOGRAPHY PAGE	*/
	padding: 5px;
	font-size: 3.5rem;
	padding: 10px;
	transition: var(--transition-font-size);
}
.social-list>a{		/*	SOCIAL ICONS	*/
	padding: 5px;
	position: relative;
}
.social-icons{			/*	SOCIAL ICONS	*/
	padding: 5px;
	width: auto;
	height: 20px;
	margin-bottom: 5rem;
	transition: height 1s;
}
.social-icons:hover{		/*	SOCIAL ICONS ON HOVER	*/
	height: 35px;
	padding: 8px;
	width: auto;
	transition: height 1s;
}
.footer{			/*	FOOTER	*/
	position: relative;
	text-align: center;
	margin-top: 1rem;
}







